.header{
    &-menu{
        margin-bottom: 40px;
        margin-top: 20px;
        &-first{
            background-color: rgb(10, 144, 189);
            border-radius: 30px;
        }
    }
}
img{
    width: 50px;
}
.link{
   padding-left: 40px !important;
}

.css-12w9als {
    display: flex;
}